INCLUDE options/options.makejail
INCLUDE options/volumes.makejail

ARG mariadb_version=%%MARIADB4%%

RAW case "${mariadb_version}" in
RAW     %%MARIADB1%%|%%MARIADB2%%|%%MARIADB3%%|%%MARIADB4%%) ;;
RAW     *) echo "VALID VERSIONS: %%MARIADB1%%, %%MARIADB2%%, %%MARIADB3%%, %%MARIADB4%%"; exit 1 ;;
RAW esac

PKG mariadb${mariadb_version}-server
